<div class="row mt-10">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <div class="card">
            <div class="card-header">
                ERRORES Y MENSAJES
            </div>
            <div class="card-body">
                <h1>{{message}}</h1>
                <h2>{{error.status}}</h2>
                <pre>{{error.stack}}</pre>
            </div>
        </div>
    </div>
</div>